@{
}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="toggle-icon" viewBox="0 0 16 16">
        <title>bi bi-list</title>
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </symbol>

    <symbol id="pencil-square" viewBox="0 0 16 16">
        <title>bi bi-pencil-square</title>
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
    </symbol>

    <symbol id="overview-icon" viewBox="0 0 16 16">
        <title>bi bi-person-vcard</title>
        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
    </symbol>
    <symbol id="contact-icon" viewBox="0 0 16 16">
        <title>bi bi-telephone</title>
        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
    </symbol>
    <symbol id="personal-icon" viewBox="0 0 16 16">
        <title>bi bi-person</title>
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
    </symbol>
    <symbol id="experience-icon" viewBox="0 0 16 16">
        <title>bi bi-briefcase</title>
        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z" />
    </symbol>
    <symbol id="education-icon" viewBox="0 0 16 16">
        <title>bi bi-mortarboard</title>
        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z" />
        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z" />
    </symbol>
    <symbol id="project-icon" viewBox="0 0 16 16">
        <title>bi bi-folder-plus</title>
        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2Zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z" />
        <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5Z" />
    </symbol>
    <symbol id="skill-icon" viewBox="0 0 16 16">
        <title>bi bi-award</title>
        <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z" />
        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
    </symbol>
    <symbol id="add-icon" viewBox="0 0 16 16">
        <title>bi bi-plus</title>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </symbol>
</svg>

<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 sidebar border-end border-1 ">
    <button id="sidebar-collapse" class="btn btn-lg d-flex align-items-center ps-3 text-dark" type="button">
        <svg class="bi bi-list" width="24" height="24"><use xlink:href="#toggle-icon" /></svg>
        <span class="sidebar-collapsible sidebar-header">Career</span>
    </button>
    
    <hr/>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link @ProfileSidebarPages.OverviewNav(ViewContext)" id="profile-overview" asp-page="./Index">
                <svg class="bi bi-person-vcard" width="24" height="24"><use xlink:href="#overview-icon" /></svg>
                <span class="sidebar-collapsible">CV Overview</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ProfileSidebarPages.ContactNav(ViewContext)" id="profile-contact" asp-page="./Contact">
                <svg class="bi bi-telephone" width="24" height="24"><use xlink:href="#contact-icon" /></svg>
                <span class="sidebar-collapsible">Contact</span>
            </a>
        </li>
        <li class="nav-item">
            <a id="shit" class="nav-link @ProfileSidebarPages.PersonalNav(ViewContext)" id="profile-personal" asp-page="./Personal">
                <svg class="bi bi-person" width="24" height="24"><use xlink:href="#personal-icon" /></svg>
                <span class="sidebar-collapsible">Personal</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ProfileSidebarPages.ExperiencesNav(ViewContext)" id="profile-experiences" asp-page="./Experiences">
                <svg class="bi bi-briefcase" width="24" height="24"><use xlink:href="#experience-icon" /></svg>
                <span class="sidebar-collapsible">Experiences</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ProfileSidebarPages.EducationsNav(ViewContext)" id="profile-educations" asp-page="./Educations">
                <svg class="bi bi-mortarboard" width="24" height="24"><use xlink:href="#education-icon" /></svg>
                <span class="sidebar-collapsible">Educations</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ProfileSidebarPages.ProjectsNav(ViewContext)" id="profile-projects" asp-page="./Projects">
                <svg class="bi bi-folder-plus" width="24" height="24"><use xlink:href="#project-icon" /></svg>
                <span class="sidebar-collapsible">Projects</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ProfileSidebarPages.SkillsNav(ViewContext)" id="profile-skills" asp-page="./Skills">
                <svg class="bi bi-award" width="24" height="24"><use xlink:href="#skill-icon" /></svg>
                <span class="sidebar-collapsible">Skills</span>
            </a>
        </li>

    </ul>

</div>
